/* Flex 컨테이너 스타일 */
#main-container {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    padding: 20px;
    min-height: calc(100vh - 80px); /* 페이지 높이를 100vh로 유지하고, 헤더와 푸터를 제외한 부분의 높이를 계산 */
}

#file-block {
    flex: 1;
    margin-right: 20px; /* login-block과의 간격 조정 */
}

#login-block {
    border: 1px solid #ccc;
    width: 300px;
    box-sizing: border-box; /* 패딩과 경계선이 너비 계산에 포함되도록 */
    padding: 20px; /* 내용과 경계선 사이의 여백 추가 */
}

.drop-zone {
    border: 2px dashed #ccc;
    padding: 20px;
    text-align: center;
    margin-top: 20px; /* 로그인 블록과 드래그 앤 드롭 영역 간의 간격 */
    background-color: #f9f9f9; /* 배경색 조정 */
    cursor: pointer; /* 드래그 앤 드롭 가능함을 나타내는 커서 */
}

.drop-zone p {
    margin: 0;
    color: #888; /* 안내 문구 색상 */
}

/* 드래그 오버 시 스타일 변경 */
.drop-zone.drag-over {
    border-color: #000;
    background-color: #e0e0e0;
}


/* pagenation 중앙 하단 배치 */
footer {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    background-color: gray;
    text-align: center;
    padding: 10px;
}

.pagination {
    display: inline-block;
}

.pagination span {
    margin: 0 5px;
    cursor: pointer;
}

.drag-list {
    list-style: none;
    padding: 0;
    margin: 20px 0 0 0;
}

.drag-list li {
    padding: 10px;
    border-bottom: 1px solid #ddd;
}

.drag-list li:last-child {
    border-bottom: none;
}

.upload-name {
    display: flex;
    justify-content: space-between;
}


.pagination {
    text-align: center;
}

/* 스타일 추가 */
.file-list {
    list-style: none;
    padding: 0;
}

.file-box {
    display: flex;
    justify-content: space-between;
    padding: 10px;
    border: 1px solid #ccc;
    margin-bottom: 10px;
}

.file-name {
    flex: 1;
}

.delete-btn {
    margin-left: 10px;
}
body {
    background: rgb(141,194,111);
    font-family: "Roboto", sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;      
  }