<html>
    <head>
        <link rel="stylesheet" href="/static/login.css">
        <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
        <script src="/static/login.js"></script>
    </head>
    <body>
        <div class="login-page">
            <div class="form">
              <form class="register-form signup-form" method="post" action="{% url 'signup_process' %}">
                {% csrf_token %}
                <input type="text" name="signup-username" id="signup-username" placeholder="name"/>
                <input type="password" name="signup-password" id="signup-password" placeholder="password"/>
                <input type="text" name="signup-email" id="signup-email" placeholder="email address"/>
                <button type="submit">create</button>
                <p class="message">Already registered? <a href="#">Sign In</a></p>
              </form>
              <form class="login-form" method="post" action="{% url 'login_process' %}">
                {% csrf_token %}
                <input type="text" name="login-username" id="login-username" placeholder="username"/>
                <input type="password" name="login-password" id="login-password" placeholder="password"/>
                <button type="submit">login</button> 
                <p class="message">Not registered? <a href="#">Create an account</a></p>
              </form>
            </div>
          </div>
    </body>
</html>